*{
    padding: 0%;
    margin: 0px;

}

.main{
    width: 100%;
    height:100vh;
    background:white;
}

.topSection{
    width: 100%;
    position: fixed;
    top: 0px;
    height: 8vh;
    background: #00BCD4;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.footerSection{
    width:100%;
    position:fixed;
    bottom:0px;
    height:8vh;
    background: #00BCD4;
    font-family: 'Aldrich', sans-serif;
}

/*Date and time display*/
.transParentTimeSection{
    position: fixed;
    width:auto;
    top:70%;
}

.transParentTimeSection p.currentDate{
    font-family: 'Arbutus', sans-serif;
    font-size: 30px;
}

.middleSection{
    border:solid 1px gray;
    background: red !important;
}

.videoEmbed{
    width: 100% !important;
    height:90% !important;
    display:flex;
}












/* News ticker css */

@-webkit-keyframes ticker {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      visibility: visible;
    }
    100% {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  }
  @keyframes ticker {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      visibility: visible;
    }
    100% {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  }
  .ticker-wrap {
    position: fixed;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    height: 4rem;
    background-color: #4CAF50;
    padding-left: 100%;
    box-sizing: content-box;
  }
  .ticker-wrap .ticker {
    display: inline-block;
    height: 4rem;
    line-height: 4rem;
    white-space: nowrap;
    padding-right: 100%;
    box-sizing: content-box;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: ticker;
    animation-name: ticker;
    -webkit-animation-duration: 30s;
    animation-duration: 30s;
  }

  @font-face {
    font-family: 'meeraregular';
    font-style: normal;
    font-weight: 400;
    src: url(https://smc.org.in/downloads/fonts/meera/Meera.woff2?v=7.0) format('woff2'), url(https://smc.org.in/downloads/fonts/meera/Meera.woff?v=7.0) format('woff'), url(https://smc.org.in/downloads/fonts/meera/Meera.ttf?v=7.0) format('truetype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+0D01-0D7F, U+200C-U+200D, U+25CC;
  }
  .supportMalayalam {
    font-family: 'meeraregular';
  }

  .ticker-wrap .ticker__item {

    display: inline-block;
    padding: 0 2rem;
    font-size: 25px;
    color: white;
  }